.navbar {
  background-color: #4169e1;
  width: 634px;
  height: 80px;
  margin-top: -7px;
  display: flex;
  width: 1394px;
  margin-left: -7px;
}
.nav-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  margin-top: 17px;
  font-size: 15px;
  margin-left: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
}
input:hover {
  border: 2px solid black;
  font-weight: bold;
}
.linktag{
  text-decoration: none;
}
#homenav {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 17px;
  font-size: 35px;
  margin-left: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homenav:hover {
  /* Remove hover effect by setting styles to their initial values */
  text-decoration: initial;
  color: #f7f3f3;
}
