.padding {
  padding: 3rem !important;
  /* margin: 0 auto; */

  width: 100%;
  background-color: #ffffff;
  /* background-image: linear-gradient(to right top, #00f000, #b6c600, #f49000, #ff5029, #ff006d, #fa007a, #f30087, #eb0094, #e90070, #e1004d, #d3002c, #c00404); */
}

.card-img-top {
  height: 300px;
}

.card-no-border .card {
  border-color: #d7dfe3;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  /* background-color: #00d6b7; */
  padding-left: 31px;
  width: 482px;
  margin-left: 348px;
  margin-top: 23px;
  /* background: linear-gradient(
    to right top,
    #68ee9c,
    #00d6b7,
    #00bbc7,
    #009ec6,
    #007fb4,
    #2273b0,
    #3767a9,
    #495a9f,
    #5a5bac,
    #6e5bb6,
    #8558be,
    #9d54c4
  ); */
  background-color: #acbbdd;
}

.pro-img {
  margin-top: -80px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 128px;
  height: 128px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  border: 6px solid white;
}

html body .m-b-0 {
  margin-bottom: 0px;
}

/* h3 {
  line-height: 30px;
  font-size: 21px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

} */

.btn-rounded.btn-md {
  padding: 12px 35px;
  font-size: 16px;
}

html body .m-t-10 {
  margin-top: 10px;
}

.btn-primary,
.btn-primary.disabled {
  background: #7460ee;
  border: 1px solid #7460ee;
  box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14),
    0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 1px rgba(116, 96, 238, 0.2);
  color: #ffffff;
  transition: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 0.5;
}

.gobackbutton,
.deletebutton,
.editbutton {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.gobackbutton {
  background-color: #df1010;
  border: 2px solid #ccc;
  color: #ffffff;
}

.deletebutton {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  color: #fff;
}

.editbutton {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

.deletebutton:hover,
.editbutton:hover {
  background-color: #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.savebuttonedit {
  background-color: #208d04;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.savebuttonedit:hover {
  background-color: #2ac42a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.gobackbutton:hover {
  background-color: #c44e2a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.genderForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for Name */
h3 {
  font-size: 24px;
  font-weight:bolder;
  color: #200c0c;
  margin-bottom: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Style for Email */
p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
}

/* Style for Gender */
p.genderstyle {
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
  text-transform: capitalize;
}

/* Style for Designation */
p.genderstyledesignation {
  font-size: 16px;
  color: #000000;
  margin-bottom: 8px;
  text-transform: capitalize;
}

/* Style for the row container */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Style for the column container */
.col-lg-4 {
  width: 33.33%;
  padding: 0 15px;
}
